/* buttons */


button,
.button,
.button-primary,
/* [class*="button"], */
[type="button"],
[type="submit"] {
    height: 56px;
    /* background-color: var(--color-default);
    border: 2px solid var(--color-default);
    color: var(--color-white); */
    font-family: var(--base-font-family) !important;
    font-size: var(--fs-16);
    font-weight: var(--button-font-weight);
    line-height: 1.5;
    padding: var(--padding-8) var(--padding-24) var(--padding-12) var(--padding-24);
    border-width: 2px;
    border-style: solid;
    border-radius: var(--br-32);
    /* cursor: pointer; */
    position: relative;
    transition: var(--transition-button);
    text-decoration: none;
    /* min-width: 90px;
    max-width: 190px; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    min-width: max-content;
    min-width: 12rem;

    /* border-radius: var(--br-6);
  	background-color: var(--color-red);
  	border: var(--border-1);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: var(--padding-12) var(--padding-24); */
    
    &:hover {
        /* background-color: var(--color-default);
        border: 2px solid var(--color-default);
        color: var(--color-primary);         */
    }
    &:focus {
        outline: 2px solid rgba(var(--color-primary-rgb),0.5);
        outline-offset: .5px;
    }
}

.button,
.button-primary {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--color-white);
    &:hover {
        background-color: rgba(var(--color-white-rgb),0.9);
        border: 2px solid var(--color-primary-dark);
        color: var(--color-primary-dark);
    }
}
.button-mono {
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
    color: var(--color-white);
    &:hover {
        background-color: rgba(var(--color-white-rgb),0.9);
        border: 2px solid var(--color-black);
        color: var(--color-black);
    }
}
.button-secondary {
    background-color: var(--white);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    &:hover {
        background-color: var(--color-primary-dark);
        border: 2px solid var(--color-primary);
        color: var(--white);
    }
    &:focus {
        outline: 2px solid rgba(var(--color-primary-rgb),0.5);
        outline-offset: .5px;
    }
}

.button-icon {
    &:after {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0%, -50%);
        background-color: var(--default);
        border-radius: 25px;
        width: 50px;
        height: 50px;
        /* // Add your SVG icon styling here */
        display: inline;
        content: '';

        /* Using the background-image and
            its related properties to add
            the SVG content */
        /* background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E %3Cpath%20d%3D%22M14.6666%201.33325L1.33331%2014.6666M14.6666%201.33325H2.66665M14.6666%201.33325V13.3333%22%20stroke%3D%22%232C313F%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E %3C%2Fsvg%3E'); */
        background-image: url(../svg/contact.svg);
        background-repeat: no-repeat;
        background-origin: center center;
        background-size: 50px 50px;
    &:hover {
        background-color: var(--color-default);
        border: 2px solid var(--color-default);
        color: var(--color-primary);
        &:after {
            /*  */
            background-color: var(--default);
            /* background-color: var(--default-dark); */
            background-image: url(../svg/contact-wht.svg);
 
        }
    }
    }
}