
.header {
  	align-self: stretch;
  	height: calc(100vh - 4.5rem);
  	background-color: var(--color-white);
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 0 var(--padding-32) var(--padding-32);
  	box-sizing: border-box;
  	z-index: 0;
  	text-align: center;
  	font-size: 6rem;
  	color: var(--color-white);
}
.header .container {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 12px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
	/* background-blend-mode: multiply, normal; */
	/* background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 1) 80%), url(../assets/bounce_hero.jpg) lightgray -335px -219.15px / 148.692% 125.181% no-repeat; */
	background-image: url(../assets/bounce_hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	/* overflow: hidden; */
  	position: relative;
}
.header .container::after {
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.8) 100%);
	background-blend-mode: multiply, normal;
  	pointer-events: none;
	z-index: 111;
}

.header .card {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-end;
  	padding: 8rem var(--padding-64);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
	z-index: 222;

}
.header .card .column {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-32);
}
.header .card .content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-24);
}
.header .card .medium-length-hero-container {
  	align-self: stretch;
  	position: relative;
  	line-height: 100%;
}
.drivers-earn-more {
    color: var(--Color-White, #FFF);
  	margin: 0;
}
.lorem-ipsum-dolor {
  	align-self: stretch;
  	position: relative;
  	font-size: var(--fs-32);
  	line-height: 150%;
}
.header .card .actions {
  	display: flex;
  	align-items: flex-start;
  	gap: var(--gap-16);
  	text-align: left;
  	font-size: var(--fs-16);
}

@media screen and (max-width: 768px) {
    .header {
        height: auto;
        padding: var(--padding-32) var(--padding-16) var(--padding-16);
    }
    
    .header .container {
        height: 20rem;
        background-position: center;
    }
    .header .card {
        padding: var(--padding-32) var(--padding-16);
        justify-content: center;
    }
    .header .card .medium-length-hero-container {
        font-size: var(--fs-24);
    } 
   
    .header .card .actions {
        flex-direction: column;
        align-items: stretch;
        gap: var(--gap-8);
        width: 100%;
        max-width: 300px;
    }
}
@media screen and (max-width: 660px) {

    .header .card .actions button {
        width: 100%;
    }
}
