
.navbar {
  	width: 100%;
  	height: 4.5rem;
  	margin: 0 !important;
  	position: fixed;
  	top: 0rem;
  	left: 0rem;
  	background-color: rgba(var(--color-white-rgb), 0.9);
	backdrop-filter: blur(10px);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 2rem var(--padding-32);
  	box-sizing: border-box;
  	z-index: 444;
  	font-family: var(--base-font-family);
	transition: var(--transition);
}

.is-scrolled.navbar {
  	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  	background-color: rgba(var(--color-white-rgb), 1);
	height: 3rem;
	padding-bottom: 1.3rem;
	/* padding-top: 1rem; */
}

.nav-container {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
}
.nav-content {
  	height: 2.75rem;
  	width: 8.875rem;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.nav-logo {
  	height: 2.8rem;
  	width: 8.875rem;
  	position: relative;
	transition: var(--transition);
	transform: scale(1);
	transform-origin: left top;
}
.is-scrolled .nav-logo {
  	height: 2.2rem;
	transform: scale(0.9);
}
.rideshare-icon {
  	/* position: absolute;
  	height: 15.85%;
  	width: 29.93%;
  	top: 84.07%;
  	right: 69.49%;
  	bottom: 0.08%;
  	left: 0.58%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%; */
}
.rideshare-icon svg {
  	width: 100%;
  	height: 100%;
  	object-fit: contain;
}

svg path.bounce {
  	fill: var(--color-black);
	transition: var(--transition-button);
}
svg path.rideshare {
  	fill: var(--color-black);
	opacity: 0.5;
	transition: var(--transition);
}

.is-scrolled .rideshare-icon path.rideshare {
  	opacity: 0;
}

.rideshare-icon:hover svg path.bounce {
  	fill: var(--color-primary);
}