body.no_scroll {
  	overflow: hidden;
}

.pop-up {
  	width: 100%;
  	position: relative;
  	background-color: var(--color-primary);
  	overflow: visible;
  	/* display: flex; */
  	flex-direction: column;
  	align-items: center;
  	padding: 6rem 1rem;
	padding-top: 7rem;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: var(--fs-16);
  	color: var(--color-black);
  	font-family: var(--font-sofia-pro);


/* Popup (modal) */
  position: fixed;
  inset: 0;
  display: none;
  z-index: 333;
  align-items: center;
  justify-content: center;
}
.pop-up.is-visible {
  /* display: block; */
  display: flex;
}


.pop-up .container {
  	border-radius: 16px;
  	background-color: rgba(var(--color-white-rgb), 0.95);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 2rem;
  	box-sizing: border-box;
  	gap: 0;
  	max-width: 80rem;
	max-height: 80vh;
    overflow: scroll;
	backdrop-filter: drop-shadow(0 4px 30px rgba(var(--color-primary-dark-rgb), 0.1));
  	/* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25); */
  	box-shadow: 0px 4px 16px rgba(var(--color-primary-dark-rgb), 0.1);
	border: 1px solid var(--color-primary-dark);
}

.pop-up .section-title {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 0;
  	max-width: 48rem;
}
.pop-up .tagline-wrapper {
  	display: flex;
  	align-items: center;
}
.pop-up .tagline {
  	position: relative;
  	line-height: 150%;
  	font-weight: var(--tagline-font-weight);
}
.pop-up .content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 0rem;
  	font-size: 3rem;
}
.pop-up .heading {
  	align-self: stretch;
  	position: relative;
  	line-height: 120%;
}
.pop-up .text {
  	align-self: stretch;
  	position: relative;
  	font-size: 1.125rem;
  	line-height: 150%;
}

@media screen and (max-width: 768px) {
	.pop-up {
		padding: var(--padding-32) var(--padding-16);
		padding-top: 7rem;
	}
	.pop-up .container {
		padding: var(--padding-32) var(--padding-16);
		/* gap: var(--gap-16); */
	}
	.pop-up .section-title {
		/* gap: var(--gap-16); */
	}
	.pop-up .content {
		/* font-size: var(--fs-24); */
		/* gap: var(--gap-16); */
	}
}




