/* style */


@import url('reset.css');
@import url('globals.css');
@import url('typography.css');
@import url('colours.css');
@import url('navigation.css');
@import url('buttons.css');
@import url('footer.css');
@import url('hero.css');
@import url('pop-up.css');
@import url('forms.css');


/* layout */

.bounce-wrapper {
  	width: 100%;
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 4.5rem 0rem 0rem;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: var(--fs-16);
  	color: var(--color-black);
  	font-family: var(--font-sofia-pro);
}

.shout {
  	align-self: stretch;
  	background-color: var(--color-white);
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: var(--padding-64);
  	z-index: 1;
  	text-align: center;
}
@media screen and (max-width: 768px) {
	  	.shout {
		padding: var(--padding-32) var(--padding-16) var(--padding-16);
  	}
}

.shout-container {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	max-width: 80rem;
}
.shout-content {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-24);
  	max-width: 48rem;
}
.tagline, 
.australias-first-commission {
  	align-self: stretch;
  	position: relative;
  	line-height: 150%;
  	font-weight: var(--tagline-font-weight);
}

h2.of-the-time {
  	align-self: stretch;
  	position: relative;
  	font-size: 3rem;
  	line-height: 120%;
}

/* driver_rider-section */

.driver_rider-section {
  	align-self: stretch;
  	background-color: var(--color-whitesmoke);
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 7rem var(--padding-64);  	
}
@media screen and (max-width: 768px) {
	  	.driver_rider-section {
		padding: var(--padding-32) var(--padding-16) var(--padding-16);
  	}
}

.driver_rider-container {
  	/* width: 100%; */
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: var(--gap-48);
}

.driver_rider-content {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	gap: var(--gap-48);
	max-width: 1440px;
}
@media screen and (max-width: 768px) {
  	.driver_rider-content {
		flex-wrap: wrap;
  	}
}

.driver_rider-card {
  	border-radius: var(--br-32);
  	background-color: var(--color-white);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: var(--padding-32);
	width: 50%;
}
@media screen and (max-width: 768px) {
  	.driver_rider-card {
		/* min-width: 100%; */
		width: 100%;
  	}
}

.driver_rider-column {
  	/* width: 31rem; */
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	max-width: 35rem;
}
.section-title {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: var(--gap-48);
}
.driver_rider-icons {
  	width: 6.875rem;
  	height: 8.25rem;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.vector-icon {
  	width: 100%;
  	height: 100%;
  	object-fit: contain;
}
.driver_rider-card-content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: var(--gap-16);
}	
.driver_rider-heading {
  	align-self: stretch;
  	position: relative;
  	line-height: 130%;
}
.driver_rider-text {
  	align-self: stretch;
  	position: relative;
  	font-size: var(--fs-20);
  	/* line-height: 150%; */
}
.earn-20-40-more {
  	margin-block-start: 0;
  	margin-block-end: 15px;
}


/* footer */

.footer {
  	align-self: stretch;
  	background-color: var(--color-black);
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 5rem var(--padding-32) var(--padding-32);
  	z-index: 3;
  	font-size: var(--fs-14);
  	color: var(--color-white);
}
.credits {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.row {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 1.25rem;
}
.footer-links {
  	display: flex;
  	align-items: flex-start;
  	gap: var(--gap-24);
}
.privacy-policy {
  	position: relative;
  	text-decoration: underline;
  	line-height: 150%;
}